.TaskCard {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  font-size: 15px;
  display: flex;
  text-align: left;
  align-items: center;
  gap: 5px;
}

.TaskCard-button {
  height: 30px;
  cursor: pointer;
}